* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxanium', cursive;
    background-color: #15141a;
}

.general-container {
    background: url(./assets/pattern.svg);
    /* background-size: cover; */
    background-position-x: 30rem;
    background-repeat: no-repeat;
    height:100vh;
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.anime-img > img {
    width: 90px;
}

.progress {
    width: 70%;
    background: #12ea81;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.bar {
    width: 0%;
    background: #d7fb4f;
    height: 16px;
}

.percent {
    text-align: center;
    color: #15141a;
    font-weight: 700;
}

.main-content {
    display: none;
}

.content {
    color: #FFFF;
}

.nav-bar {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.icn {
    width: 20px;
    height: 20px;
    background: linear-gradient(to right top, #12ea81, #63f072, #8ff464, #b4f858, #d7fb4f);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.link {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link > li {
    list-style-type: none;
}

.link > li > a {
    text-decoration: none;
    color: #a5acaf;
    font-size: 20px;
}

.nav-bar > button, .header > button:nth-child(3) {
    padding: 12px 20px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #15141a;
    font-weight: 600;
    background: linear-gradient(to right top, #12ea81, #63f072, #8ff464, #b4f858, #d7fb4f);
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 4rem;
}

.line {
    width: 4px;
    height: 80%;
    background-color: #020204;
    border-radius: 5px;
}

.color-line {
    background: linear-gradient(to right bottom, #12ea81, #63f072, #8ff464, #b4f858, #d7fb4f);
    width: 4px;
    height: 50%;
    border-radius: 5px;
}

.header > h1 {
    font-size: 90px;
    font-weight: 900;
    color: #fff;
}

.header > h1 > span {
    background: linear-gradient(to right bottom, #12ea81, #63f072, #8ff464, #b4f858, #d7fb4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header > p {
    font-size: p14x;
    font-weight: 300;
    width: 40vw;
    line-height: 1.5;
}

.header > button:nth-child(4) {
    margin-top: 3rem;
    padding: 12px 20px;
    border-radius: 5px;
    border: 1px solid #12ea81;
    color: #d7fb4f;
    outline: 0;
    cursor: pointer;
    margin-left: 10px;
    background: transparent;
    font-weight: 600;
}

.testimony {
    display: flex;
    align-items: center;
    /* gap: 2rem; */
    justify-content: space-between;
    margin-top: 5rem;
    width: 70%;
}

.testimony > span > h4 {
    color: #d7fb4f;
    font-size: 30px;
    font-weight: 700;
}