* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oxanium', cursive;
    background-color: #15141a;
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.anime-img > img {
    width: 90px;
}

.progress {
    width: 70%;
    background: #12ea81;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.bar {
    width: 0%;
    background: #d7fb4f;
    height: 16px;
}

.percent {
    text-align: center;
    color: #15141a;
    font-weight: 700;
}

.main-content {
    display: none;
}

.content {
    color: #FFFF;
}

.nav-bar {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.icn {
    width: 20px;
    height: 20px;
    background: linear-gradient(to right top, #12ea81, #63f072, #8ff464, #b4f858, #d7fb4f);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.link {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link > li {
    list-style-type: none;
}

.link > li > a {
    text-decoration: none;
    color: #a5acaf;
    font-size: 20px;
}

.nav-bar > button {
    padding: 12px 20px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: #15141a;
    font-weight: 600;
    background: linear-gradient(to right top, #12ea81, #63f072, #8ff464, #b4f858, #d7fb4f);
}